*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

form {
  width: 100%;
}

header, form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-color);
  padding: 20px 10px;
}

.header__search-input, .header__filter, .header__dataButton {
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
}

.header__dataButton {
  padding: 15px;
}

h1 {
  width: 100%;
  text-align: center;
  color: white;
}

@media (min-width: 760px) {
  header, form {
    justify-content: center;
    gap: 30px;
  }
  .header__search-input, .header__filter, .header__dataButton {
    margin-top: unset;
  }
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  color: white;
  padding: 20px 5px;
}

.icon {
  width: 50px;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 20px;
  width: 70%;
  max-width: 400px;
  padding: 40px 0;
  text-align: center;
  background-color: lightgreen;
  border-radius: 20px;
  animation: 0.5s blob;
}

.card-results {
  text-align: center;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-top: 20px;
  width: 100%;
}

.card__img {
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
}

.card__characterInfo p {
  margin-bottom: 6px;;
}

.unknown-icon {
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  background-color: grey;
  border-radius: 50%;
}

.alive-icon {
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  background-color: green;
  border-radius: 50%;
}

.dead-icon {
  content: " ";
  width: 0.5rem;
  height: 0.5rem;
  background-color: red;
  border-radius: 50%;
}

.card__characterInfo .character-status {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 2px;
  margin-bottom: 20px;
}

.dead {
  background-color: black;
  color: white;
}

.unknown {
  background-color: orange;
}

.card__characterInfo {
  margin: 20px 10% 0 10%;
  text-align: left;
}



@keyframes blob {
  0% {
      opacity: 0;
      transform: scale(1);
  }
  30%{
      opacity: 1;
      transform: scale(1.05);
  }
  100%{
      opacity: 1;
  }
}